*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: popings;

}

header{
    vertical-align: top;
    text-align: center; 
    background-color: #012a4a;
    position: sticky;
    top:0;
    font-family: popings ;
    color: #a9d6e5;
}


main {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #013a63;
}

.input-group { 

    display: flex;
    align-items: flex;
    background-color: #a9d6e5;
    padding: 8px 16px 8px 8px;
    border-radius: 24px;
    gap: 8px;
    box-shadow: 1px 1px 20px black

}
.container{
    max-width: 360px;
    width: 100%;
    max-height:480px;
    height: 100%px;
    position: fixed; 
    top: 100px;  
    z-index: 1000; 
}

.input-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    min-width: 32px;
    min-height: 32px;
    background-color: #01497c;
    color: #ffffff;

}

#ucInput{
    width: 100%;
    border: none;
    background-color: transparent;
}
#ucInput:focus{
   outline: none;

}

td, th{


    word-wrap: break-word;
    text-overflow: ellipsis;
    max-width: 50px;


}

.resultados{
 
    width: 100%;
    table-layout: fixed;
    text-align: center;

}

.conteudo{
    max-height: 50px;
}

.dados{
    display: flex;
    align-items: center;
    flex-direction: column;
    list-style: none;
    margin-top: 12px;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 2px;
    width: 360px;
    height: 421px;
    overflow-y: auto;
    overflow-x: hidden;
    box-shadow: 1px 1px 20px black;
    
}

 #no-results {
    display: none;
}